*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Crete Round', serif;
    background-color: rgb(224, 232, 213);
    margin: 0;
    padding: 0;
    color: black;
}

.menu {
    margin: o auto;
    background: #304739;
    border-bottom: 2px solid #ffffff;
}


@media screen and(min-width:52em) { /*desktop*/
    .menu{
        max-width: 52em;  /*tablet*/
    }   
    h1 {
        font-size: 40px;
    }
}


.menu-principal ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* background: #1a733d; */
    display: flex; /*flex*/
    flex-wrap: wrap;
    justify-content: space-between;
}


.menu-principal li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: .6em 1em;
}
.menu-principal li a:hover {
    background:#1a733d;
}
.menu-principal li {
    flex: 1 0 auto;
    text-align: center;
}
h1 {
    margin: 1em;
    text-align: center;
    color: black;
}

.pie {
    background: #77b27f;
    border-top: 2px solid #ddf5b5;
    padding: 0;
    margin: 0;
}

.derechos {
    background: #208e4c;
    padding: 0;
    margin: 0;

}
