body{
    font-family: 'Crete Round', serif;
    background-color: rgb(224, 232, 213);
    margin: 0;
    padding: 0;
    color: black;
}


.menu {
    margin: auto;
    background: #304739;
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
}


@media screen and(min-width:52em) { /*desktop*/
    .menu{
        max-width: 52em;  /*tablet*/
    }   
    h1 {
        font-size: 40px;
    }
}


.menu-principal ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* background: #1a733d; */
    display: flex; /*flex*/
    flex-wrap: wrap;
    justify-content: space-between;
}


.menu-principal li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: .6em 1em;
}


.menu-principal li a:hover {
    background:#1a733d;
}


.menu-principal li {
    flex: 1 0 auto;
    text-align: center;
}


h1 {
    margin: 1em;
    text-align: center;
    color: black;
}


/* Estilos pie */
footer {
    width: 100%;
    background: #608f66;
    border-top: 2px solid #3b3a3a;
    padding: 5px 0px;
    margin: 0;
}


.pie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
}


.box-pie {
    display: flex;
    flex-direction: column;
    padding: 40px;
}


.derechos {
    padding: 0;
    margin: 0;
}


.box-pie .logo img {
    width: 100px;
}


.box-pie .terminos {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #595959;
    font-size: 16px;
}


.box-pie h2 {
    color: #3b3a3a;
    margin-bottom: 10px;
    font-weight: 700;
}


.box-pie a{
    margin: 10px;
    color: #595959;
    font-weight: 600;  
}


.box-pie a:hover{
    opacity: 0.8;
}


.box-pie a i{
    font-size: 20px;
}


.derechos{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 40px;
    text-align: center;
}


.derechos p{
    margin-top: 20px;
    color: #595959;
}


.derechos hr {
    border: none;
    height: 1px;
    background-color: #3b3a3a;
}


/*Galeria de exhibiciones*/
.centrado {
    margin: 0 auto;
    padding: 0 .8em;
}


.card a {
    color: rgb(225, 230, 235);
    text-decoration: none;
}


.card:hover {
box-shadow: 5px 5px 5px #0f1438;
}


.card-content {
    padding: 1.4em;
}


.card-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 95%;
}


.card-content p {
    font-size: 90%;
}


figure {
    margin: 0;
}


img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}


.cards {
    display: flex; /**/
    flex-wrap: wrap;
    justify-content:space-evenly;
}


.card {
    background-color: #39438b;
    margin-bottom: 2em;
    width: 40%;

    
/*Rotación cubos card*/
    position: relative;
    animation-name: cuboinclina;
    animation-delay: 2s;
    animation-duration: 8s;
}


@keyframes cuboinclina {
    0%{rotate: 5deg;}
    50%{rotate: -5deg;}
    100%{rotate: 0deg;}
}

