*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    font-family: 'Crete Round', serif;
    background-color: black;
    margin: 0;
    padding: 0;
    color: black;

    /* Estilos imagen de fondo */
    background-image: url(../Imagenes/inauguracion-museo-paleontologicojpg.webp) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}


/* Estilos menu */
.menu {
    margin: auto;
    background: #304739;
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
}


@media screen and(min-width:52em) { /*desktop*/
    .menu{
        max-width: 52em;  /*tablet*/
    }   
    h1 {
        font-size: 40px;
    }
    .form{
            width: 100%;
        }
}


.menu-principal ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* background: #1a733d; */
    display: flex; /*flex*/
    flex-wrap: wrap;
    justify-content: space-between;
}


.menu-principal li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: .6em 1em;
}


.menu-principal li a:hover {
    background:#1a733d;
}


.menu-principal li {
    flex: 1 0 auto;
    text-align: center;
}


h1 {
    margin: 1em;
    text-align: center;
    color: black;
}


/* Estilos pie */
footer {
    width: 100%;
    background: #608f66;
    border-top: 2px solid #3b3a3a;
    padding: 5px 0px;
    margin: 0;
}


.pie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
}


.box-pie {
    display: flex;
    flex-direction: column;
    padding: 40px;
}


.derechos {
    padding: 0;
    margin: 0;
}


.box-pie .logo img {
    width: 100px;
}


.box-pie .terminos {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #595959;
    font-size: 16px;
}


.box-pie h2 {
    color: #3b3a3a;
    margin-bottom: 10px;
    font-weight: 700;
}


.box-pie a{
    margin: 10px;
    color: #595959;
    font-weight: 600;  
}


.box-pie a:hover{
    opacity: 0.8;
}


.box-pie a i{
    font-size: 20px;
}


.derechos{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 40px;
    text-align: center;
}


.derechos p{
    margin-top: 20px;
    color: #595959;
}


.derechos hr {
    border: none;
    height: 1px;
    background-color: #3b3a3a;
}


/* Estilos formulario */
.form{
    max-width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}


h2{
    color: #fff;
    margin: 0;
    text-align: center;
    font-size: 26px;
    margin: auto;
}


.form .form-fieldset{
    width: 100%;
    margin-bottom: 10px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;    
    }


.form .form-fieldset .form-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
}


.form .form-fieldset .form-input:focus{
    background-color: rgb(222, 247, 193);
}


.form .form-fieldset .form-textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}


.form .form-fieldset .form-textarea:focus{
    background-color: rgb(222, 247, 193);
}


.boton-submit{
    background-color: #304739;
    color: #fff;
    padding: 7px;
    margin: auto; 
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    font-weight: bold ;
}


.boton-submit:hover {
    background-color: darkgrey;
    cursor: pointer;
}







